@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.container-max{
    max-width: 1400px;
}

.btn-primary{
    border-radius:1px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid #4299e1;
    background-color: #4299e1;
    color: white;
    transition: background-color ease-in .2s;
}

.btn-primary:hover{
    transition: background-color ease-out .2s;
    background-color: white;
    color: #3182ce ;
}

.menu{
    right: -100%;
    transition: cubic-bezier(0.4, 0.0, 1, 1) 0.3s;
}

.expanded{
    right: 0;
    transition: cubic-bezier(0.0, 0.0, 0.2, 1) 0.3s;
}